body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landscape .page {
  display: inline-block;
  width: 50vw;
  height: 100vh;
}

.landscape .left-page canvas {
  position: absolute;
  right: 0;
}

.portrait .left-page {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.landscape .page > div > div {
  text-align: center;
}

.portrait .left-page > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.page {
  overflow: hidden;
}

canvas {
  max-height: 100vh;
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}
