body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pdf-reader {
  cursor: pointer;
}

.pdf-reader .page {
  padding-top: 60px;
  width: 100%;
  position: relative;
}

.pdf-reader .page > div {
  margin: 0 auto;
}

.pagination {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: white;
  box-shadow: 0 0 1em #a6aeae;
  text-align: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 5px;
}

canvas,
svg {
  max-width: 1000px;
  height: auto !important;
  width: 100vw !important;

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
